<!DOCTYPE html>
<html>
<head>
<head>
	<META name="viewport" content="width=device-width, initial-scale=1">
	<META charset="UTF=8">
	<TITLE>A/B Testing - Do You Like Me?</TITLE>
	<LINK rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<SCRIPT src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></SCRIPT>
	<SCRIPT src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></SCRIPT>
	<SCRIPT src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></SCRIPT>
 
</head>
<h2><p style="text-align:center"><b><font face="verdana" color="SteelBlue">Chapter 14: Do You Like Me?</font></b></p></h2>
<div class="container">
	<p><h4>A/B Testing Dashboard</h4></p>
	<br />
	<p><b>Summary:</b><br />
	<table border = 1 cellpadding=2>
		<tr><td>Total Votes</td><td>{{total_votes}}</td></tr>
		<tr><td>Up Votes</td><td>{{total_up_votes}}</td></tr>
		<tr><td>Down Votes</td><td>{{total_down_votes}}</td></tr>
	</table>
	<br />
	<table border = 1 cellpadding=2>
		<tr><td>Up votes for Image 1</td><td>Up votes for Image 2</td></tr>
		<tr><td><img src="/static/images/background1.jpg" height="42" width="42"></td><td><img src="/static/images/background2.jpg" height="42" width="42"></td></tr>
		<tr><td>{{total_up_votes_page_1}}</td><td>{{total_up_votes_page_2}}</td></tr>
	</table>
	</p>
	<br />
	<p><b>Full Log:</b><br /><br />{{results}}</p>
</div>
</body>
</html>
