<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF=8">
	<title>Pair Trading Booth</title>
</head>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

<script type="text/javascript">
  window.MemberfulOptions = {site: "{{MEMBERFUL_SITE}}"};

  (function() {
    var s   = document.createElement('script');

    s.type  = 'text/javascript';
    s.async = true;
    s.src   = 'https://d35xxde4fgg0cx.cloudfront.net/assets/embedded.js';

    setup = function() { window.MemberfulEmbedded.setup(); }

    s.addEventListener("load", setup, false);

    ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
  })();
</script>

<style>
.block {
    display: block;
    width: 100%;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
</style>

<body>
    <div class="container">
		<table  style="background-color:black;" border = 0>
		    <tr>
		    	<td>
					<p style="text-align:center">
						<img src="{{web_root_path}}/static/images/ticker-title.png" alt="trading booth" style='padding:0px; border:0px solid #021a40; width: 100%; height: 100%'>
					</p>
				</td>
    		</tr>
    		<tr>
			<td>
				<div class="container-fluid">
				<div class="row">

				<div class="col-md-4 col-sm-6 col-xs-12">
					<p style="text-align:center">
						<img src="{{web_root_path}}/static/images/up-arrow.png" alt="buy" style='padding:0px; border:0px solid #021a40; width: 20%; height: 20%'>
						<BR>
					</p>
				</div>

				<div class="col-md-4 col-sm-6 col-xs-12">
					<table cellpadding="3" cellspacing="0" width="100%">
						<tr>
						    <td>
								<a href="{{MEMBERFUL_SITE}}/auth/sign_in" class="btn btn-success block">Log in</a>
                            </td>
						    <td>
						        <a href="{{MEMBERFUL_SITE}}/checkout?plan=29504" class="btn btn-primary block">Sign up</a>
						    </td>
						</tr>
					</table>
				</div>

				<div class="col-md-4 col-sm-6 col-xs-12">
					<p style="text-align:center">
						<img src="{{web_root_path}}/static/images/down-arrow.png" alt="sell" style='padding:0px; border:0px solid #021a40; width: 20%; height: 20%'>
						<BR>
					 </p>
				</div>
			</div>
			</div>
			</td>
		</tr>
	</table>

</div>
</body>
</html>