<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF=8">
	<title>What to Watch Next?</title>
</head>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

<body>
<div class="container">

<FORM id='submit_params' method="POST" action="{{ url_for('ready') }}">
<div class="form-group">
<table class="table" border=0>
    <tr  bgcolor="#000000">
        <td width="300px">
            <p style="text-align:left">
			<img src="static/images/curtain-left.jpg" alt="movie curtain" style='padding:0px; border:0px solid #000000; width: 230px; height: 166px'>
			</p>
        </td>
        <td>
			<p style="text-align:center"><p style="text-align:center"><font color="white" size="20">Chapter 10<BR>What to Watch Next?</font></p></p>
		</td>
        <td width="200px" > 
            <p style="text-align:right">
            <img src="static/images/curtain-right.jpg" alt="movie curtain" style='padding:0px; border:0px solid #000000; width: 230px; height: 166px'>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <table class="table" border=0 >
                <tr>
                    <td><label for="male">Movie Genre</label><BR>
                     
                     <SELECT class="selectpicker" name="selected_genres" onchange="this.form.submit()">
				          <option value="{{selected_genre}}" selected>{{selected_genre}}</option>
				       {% for genre in options_movie_genres %}
				           <option>{{genre}}</option>
				       {% endfor %}
 
				      </SELECT>
					</td>
                </tr>
                <tr>
                    <td><label for="male">Movie Choice 1</label><BR>
                     
                     <SELECT class="selectpicker" name="selected_movie_id1">
               
				        <option value="{{selected_movie_id1}}" selected>{{selected_movie_title1}}</option>
				        {% for n in range(options_movie_titles|length) %}
				           <option  value="{{options_movie_ids[n]}}">{{options_movie_titles[n]}}</option>
				       {% endfor %}
				      </SELECT>
					</td>
                </tr>
                <tr>
                    <td><label for="male">Movie Choice 2</label><BR>
                  
                    	<SELECT class="selectpicker" name="selected_movie_id2">
				        <option value="{{selected_movie_id2}}" selected>{{selected_movie_title2}}</option>
				        {% for n in range(options_movie_titles|length) %}
				           <option  value="{{options_movie_ids[n]}}">{{options_movie_titles[n]}}</option>
				       {% endfor %}
				      </SELECT>
					</td>
                </tr>
                <tr>
                    <td><label for="male">Movie Choice 3</label><BR>
                   
                     <SELECT class="selectpicker" name="selected_movie_id3">
				        <option value="{{selected_movie_id3}}" selected>{{selected_movie_title3}}</option>
				        {% for n in range(options_movie_titles|length) %}
				           <option  value="{{options_movie_ids[n]}}">{{options_movie_titles[n]}}</option>
				       {% endfor %}
				      </SELECT>
					</td>
                </tr>
 
          </table>

        </td>

        <td><b>Top Recommendation:</b>
            <H3><a href="#inline" class="recommended_title_1">{{recommended_title_1}}</a></H3>
            <BR>Also recommended:
            <BR><a href="#inline" class="recommended_title_2">{{recommended_title_2}}</a>
            <BR><a href="#inline" class="recommended_title_3">{{recommended_title_3}}</a>
        <p> <H4>Movie Description:</H4>
            <span id='movie_description'>{{ wiki_movie_description }}</span><BR>
        </p>
        </td>
        <td>
        	<p style="text-align:center"><span id='movie_poster'>{{recommended_title_1}}</span></p>
        	<p style="text-align:center">
			<img src={{ wiki_movie_poster }} id='image_poster' alt="movie poster" style='padding:1px; border:1px solid #021a40; width: 100%; height: 100%'>
			</p></td>
    </tr>
    <td><button class="btn btn-default" type="submit" style="width: 200px; height: 30px;">Get Recommendations!</button></td><td></td><td></td>
    <tr>
</table>
</div>
</form>

</div>
</body>


<script>

$(document).on("click", "a", function(){
    var move_title = this.innerHTML;
    $(this).text(move_title);
    document.getElementById("movie_poster").innerHTML = move_title;
    fetchdata(move_title);
});
  

function fetchdata(move_title)
{
    $.ajax({
        type : "GET",
        url:'{{ url_for('background_process') }}',
        data:{ 'movie_title': move_title},
        success: function(data){
            update_dashboard(data.wiki_movie_description, data.wiki_movie_poster);
        }
         
    });
}

function update_dashboard(wiki_movie_description, wiki_movie_poster){
    document.getElementById('movie_description').innerHTML = wiki_movie_description; 
    document.getElementById('image_poster').src = wiki_movie_poster; 
}

</script>    
</html>